body {
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	background-color:white;
}
.box1{
	height:100vh;
	width:50vw;
	display:flex;
	background-color:blue;
	
}
.box2{
	height:100vh;
	width:50vw;
	display:flex;
	background-color:black;
	
}
.box3{
	height:20vh;
	width:100vw;
	display:flex;
	background-color:red;
	
}

.white1{
	height:30vh;
	width:20vw;
	background-color:white;
	margin:50px;
	content:url("https://user-images.githubusercontent.com/28358543/33750030-12d6ec66-db86-11e7-9c96-c7ceac6d6994.jpg");
	
	
}
.dg {
	content:url("https://user-images.githubusercontent.com/28358543/32973244-3c59a8d4-cbab-11e7-9e1b-30a7697d31e5.jpg");
}
.white2{
	height:30vh;
	width:20vw;
	background-color:white;
	margin:50px;
	content:url("https://user-images.githubusercontent.com/28358543/33749912-76509982-db85-11e7-8b79-7d205803af91.jpg");
	
	
}
.white3{
	height:44vh;
	width:20vw;
	background-color:white;

	
}

a {
	color:black;
	margin:auto;
}
@media screen and (max-width: 700px){
	.box1{
		height:50vh;
		width:100vw;
		
	}
	.box2{
		height:50vh;
		width:100vh;
		
}
	.box3{
		height:50vh;
		width:100vh;
		
}
