body {
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	background-image:url("https://user-images.githubusercontent.com/28358543/33841118-a4312e7a-de4b-11e7-8485-f563c8d5257e.png");
}

.col-1 {
	height:47vh;
	width:50vw;
	display:flex;
	background-color:white;
}
.col-2 {
	height:47vh;
	width:50vw;
	display:flex;
	background-color:white;
}

@media screen and (max-width: 700px){
	.col-1{
		height:50vh;
		width:100vw;
		
	}
	.col-2{
		height:50vh;
		width:100vh;
		
	}
	
	
}
