body {
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	background-color:white;
}
.col-1 {
	height:13vh;
	width:100vw;
	display:block;
	background-color:black;
	
}
h1 {
	color:red;
	text-align:center;
	
}
.col-2{
	height:55vh;
	width:100vw;
	display:block;
	background-color:orange;
}

.col-3 {
	height:50vh;
	width:50vw;
	display:flex;
	content:url(https://user-images.githubusercontent.com/28358543/32973244-3c59a8d4-cbab-11e7-9e1b-30a7697d31e5.jpg);
	
}
.col-4 {
	height:50vh;
	width:50vw;
	display:flex;
	content:url("https://user-images.githubusercontent.com/28358543/32973105-99d7692a-cbaa-11e7-901c-0e97ba63dc48.jpg");
	background-color:blue;
}

a {
	color:black;
	margin:auto;
}

@media screen and (max-width: 700px){
	.col-1{
		height:50vh;
		width:100vw;
		
	}
	.col-2{
		height:50vh;
		width:100vh;
		
	}
	.col-3{
		height:50vh;
		width:100vh;
	}
	.col-4{
		height:50vh;
		width:100vh;
	}
	
}
